
		<div id="page">
			<div id="header">
				<a href="#menu"></a>
			</div>

			<!-- nav small screens  -->
			<nav id="menu">

				<ul>
					<li class="Selected">
						<a href="{{site.baseurl}}/index">HOME</a>
					</li>
				</ul>

				<ul>
					<li class="Selected">
						<a href="{{site.baseurl}}/about">CONTRACTORS</a>
						<ul>
							<li><a href="{{site.baseurl}}/our-work">Mobile Storage Solutions</a></li>
							<li><a href="{{site.baseurl}}/our-philosophy">Lettering/Wraps</a></li>
							<li><a href="{{site.baseurl}}/our-team">Fleet</a></li>
							<li><a href="{{site.baseurl}}/testimonials">Custom</a></li>
							<li><a href="{{site.baseurl}}/testimonials">Vehicle Lettering</a></li>
						</ul>
					</li>

					<li class="Selected">
						<a href="{{site.baseurl}}/services">SIGNS</a>
						<ul>
							<li><a href="#">Banners/Signs</a></li>
							<li><a href="{{site.baseurl}}/organizational-assessments">Pop Displays</a></li>
							<li><a href="{{site.baseurl}}/conflict-diagnostic">Signage</a></li>
							<li><a href="#">Wall Graphics</a></li>
						</ul>
					</li>

					<li class="Selected">
						<a href="#">SERVICES</a>
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Printing</a></li>
							<li><a href="#">Installation</a></li>
						</ul>
					</li>

						<li><a href="#">CONTACT US</a></li>
				</ul>
			</nav>

			<!-- nav small screens end  -->

			<!-- nav big screens  -->
			<div id="header-big">
							<ul class="navigation">

							<li><a href="#">HOME</a></li>


			    	<div class="clear"></div>

				<li><a href="{{site.baseurl}}/about">CONTRACTORS</a>
				<ul>
							<li><a id="sub" href="{{site.baseurl}}/our-work">Mobile Storage Solutions</a></li>
							<li><a id="sub" href="{{site.baseurl}}/our-philosophy">Lettering/Wraps</a></li>
							<li><a id="sub" href="{{site.baseurl}}/our-team">Fleet</a></li>
							<li><a id="sub" href="{{site.baseurl}}/testimonials">Custom</a></li>
							<li><a id="sub" href="{{site.baseurl}}/testimonials">Vehicle Lettering</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/services">SIGNS</a>
				<ul>
							<li><a id="sub" href="">Banners/Signs</a></li>
							<li><a id="sub" href="{{site.baseurl}}/organizational-assessments">Pop Displays</a></li>
							<li><a id="sub" href="{{site.baseurl}}/conflict-diagnostic">Signage</a></li>
							<li><a id="sub" href="#">Wall Graphics</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="#">SERVICES</a>
				<ul>
							<li><a id="sub" href="#">Design</a></li>
							<li><a id="sub" href="#">Printing</a></li>
							<li><a id="sub" href="#">Installation</a></li>
				</ul>

						<div class="clear"></div>
				</li>
					<li><a href="#">CONTACT US</a></li>
				</ul>
				<div class="clear"></div>
			</div>

		</div>

