
        <!-- Slideshow 1 -->
<div class="callbacks_container box effect6">
      <ul class="rslides" id="slider4">
      <li>
        <img src="{{site.baseurl}}/img/banner1a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner2a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner3a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner4a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner5a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner6a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner7a.jpg" alt="">
      </li>
      <li>
        <img src="{{site.baseurl}}/img/banner8a.jpg" alt="">
      </li>
    </ul>
</div>
