
.unit {
  float: left;

}

.grid{
  display: block;
}




.rounded_corners{
  width:100%;
  background:#fff;
  margin:40px auto;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect2:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}


.media{
  padding: 20px;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}


.gutter{
	padding-left: 1rem;
	padding-right: 1rem;

}

.unit-s-1{
	width: 100%;
}
.unit-s-1-2{
	width: 50%;
}

@media only screen and (min-width: 800px){
	.unit-m-1-2{
	width:50%;
	}
	.unit-m-1 .paragraph{
	text-align: center;
	font-size: 1.2rem;
	}
}

img{
	width: 100%;
}

.img-flex{
	padding-bottom: 1.5rem;
}


@media only screen and (min-width: 900px){
.img-flex{
	float: left;
	width:50%;
	margin-right: 2rem;

}
}





@media only screen and (min-width: 900px){
.span8{
  width:75%;
}
.span4{
  width:25%;
  float: right;
  padding-right: 1rem;
}
}
