



html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.428571429;
}

#header {
  background: url("{{site.baseurl}}/img/bg-header.png") no-repeat left top;
  height:100%;
  width:100%;
}
 p,
 h2,
 h3 {
   orphans: 3;
   widows: 3;
  }

h2{
  font-family: 'Archivo Narrow', sans-serif;
  color: #cb1c2c;
}

p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}


.read_more{
  color:red;
  font-size: 1rem;
  text-decoration: underline;
}

.btn-link{
color: #a03021;
cursor: pointer;
border-color: transparent;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link:hover{
background-color: transparent;
background-image: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

@media only screen and (min-width: 600px){
.btn-link,
.btn-link:active,
.btn-link:hover{
font-size: 1.2rem;
}
.french-btn{
right: 65px;
}
}

.bullet {
  list-style-type: square;
  font-size: 1.1rem;
  line-height: 150%;
}

@media only screen and (min-width: 900px){
  .bullet{
  margin: 0 auto 0 auto;
  width: 60%;
  }
}

@media only screen and (min-width: 900px){
.paragraph{
  width: 80%;
  margin: 0 auto 0 auto;
  padding-bottom: 2rem;

}
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

.in{

width:80%;
 border-top: 1px solid #323232;

}



@media only screen and (min-width: 30rem){
  .in{
    display: none;
  }
  #in-big{
  width:70%;
 border-top: 1px solid #fff;
 margin-top: 17px;

}
  }

hr {
  margin-top: 17px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #a03021;
  width:80%;
}

h1  {
  font-size: 1rem;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #a03021;
  margin-top: 3px;
  }

.heading-sub{
  float: left;
}

  .heading{
    line-height: 1;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-top: 40px;
    color: #a03021;
  }

.heading-first{
    line-height: 0.7;
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #d30505;
}
@media only screen and (min-width: 300px){
.heading-first{
    font-size: 3rem;
}
}
@media only screen and (min-width: 320px){
  .heading{
    font-size: 1.8rem;
  }

}

@media only screen and (min-width: 600px){
  .heading{
    font-size: 2.8rem;
  }

}

@media only screen and (min-width: 30rem){
.heading-first{
  text-align: center;
}
}

.logo{

  /*min-height: 250px;*/  /* Gives height to the top  bar */
  min-height: 10px;
}

@media only screen and (min-width: 1200px){
  .logo{
  background: url("{{site.baseurl}}/img/bg-header.png") no-repeat left top;
  width:100%;
  min-height: 180px;
}
}

@media only screen and (min-width: 1300px){
  .logo{
  min-height: 170px;
}
}
@media only screen and (min-width: 1400px){
  .logo{
  min-height: 190px;
}
}

@media only screen and (min-width: 1500px){
  .logo{
  min-height: 184px;
}
}

@media only screen and (min-width: 1600px){
  .logo{
  min-height: 210px;
}
}

@media only screen and (min-width: 1700px){
  .logo{
  min-height: 230px;
}
}




.containerall{
  background-image: url(../img/az_subtle.png);
  background-repeat: repeat;
  z-index: 2;
  width: 100%;
  clear: both;
}

@media only screen and (min-width: 1200px){
.containerall{
  margin: 0 auto -35px auto; /* Keeps it centered */
}
}

.logo img {
  display: block;
  float: right;
  vertical-align: bottom;
  width: 41.5%;
}

.tagline{
  margin: 50px auto 20px auto;
  vertical-align: bottom;
  display: block;
  max-width: 94%;
  max-height: 100%;
  padding-top: 1px;
  padding-bottom: 10px;
  font-size: 0.5rem;
  line-height: 1.4em;
  color: #56575b;
  background-color: transparent;
  border-top: solid thin #B2AB86;
  border-bottom: solid thin #B2AB86;
  text-transform: uppercase;
  text-align: center;
  }

@media (min-width: 500px) {
  .tagline{
    max-width: 60%;
  }
 }


.slider-tagline{
  max-width: 90%;
  margin: 5px auto 5px auto;
  padding:0;
  letter-spacing: 1px;
  font-size: 0.6rem;
  }

@media (min-width: 800px) {
.slider-tagline{
  font-size: 1rem;
}
 }

@media (max-width: 750px) {
.tagline{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 1rem;


  }
}
.contractors a{
color:grey;
}


.text-muted {

/*font-family: 'Archivo Narrow', sans-serif;
font-weight: 300;*/
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-style: normal;
color: #56575b;
font-size: 1.7rem;

}


#info p{
  text-align: left;
}


/* blockquotes ------------------------------------------------------------*/

blockquote {
  border-left: 5px solid #a03021;;
  margin: 0 auto 0 auto;
  padding: 0.5em 20px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 100%;
}


@media screen and (min-width: 800px) {
  blockquote{
    width:80%;
  }
  }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 5rem;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote:before {
content: "“";
}


blockquote p {
  display: inline;
  text-align: left;
}

blockquote cite{
  float: right;
}

/* Slider ------------------------------------------------------------*/


.rslides {
  margin: 0 auto;
  }



.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: #fff;
  text-decoration: none;
  }

#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }

#download:hover {
  background: rgba(255,255,255,.15);
  }


/* Callback example */


.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.caption{
display: none;
}

@media screen and (min-width: 700px) {
.caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 1rem;
  font-family: 'Archivo Narrow', sans-serif;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .6);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }
}


.callbacks{
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav{
  display: none;
}

@media screen and (min-width: 800px) {
.callbacks_nav {
  display: block;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("{{site.baseurl}}/themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }
}

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
  }

/*==================================================
 * Slideshow DropShodow
 * ===============================================*/
.box {
  width:100%;
}


.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
    position:absolute;
    z-index: 1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


/* BOTTOM ------------------------------------------------------------*/
#bottom {
  position: relative;
  min-height: 20px;

}

#bottom #content {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2em;
  clear: both;
    -webkit-tap-highlight-color:transparent !important;
  font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}

@media screen and (min-width: 600px) {
  #bottom #content {
    font-size: 1.7rem;
  }
  }

#bottom #content a {
  color: #cb1c2c;
}
#bottom #content a:hover {
  text-decoration: none;
  color: #fff;
}

.footer{
text-align: center;
clear: both;
background-color: #000;
padding-top: 1rem;
}

.footer_copyright{
   padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5em;
  clear: both;
    -webkit-tap-highlight-color:transparent !important;
  font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}


a.privacy,
a.privacy:link,
a.privacy:active,
a.privacy:visited,
a.privacy:hover
{
  color:#56555a;
  text-decoration: none;
}

a.footer,
a.footer:link,
a.footer:active,
a.footer:visited,
a.footer:hover
{
  color:#56555a;
  text-decoration: none;
}

.footer-menu{
  display: none;
}

@media (min-width: 750px){
  .footer-menu{
  display:inline-block;
  text-align: center;
  margin: 20px 25px 0 25px;
}
}

.footer-menu li{
  display:inline-block;
  padding-right: 15px;
}



/* MAP ------------------------------------------------------------*/
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.map-big iframe {
  width:100%;
  height: 200px;
  padding-bottom: 0.4rem;
  border: none;

}

@media (min-width: 900px){
  .map-big iframe {
  width:99%;
  padding-left: 15px;
  margin-right: 15px;

}
  }

.center{
  margin: 10px auto;
    background-color: #313030;
}

#contact{
padding-bottom: 1.5rem;
}

#address{
  float: left;
  margin-right: 5px;
  margin-left: 18px;
}

.grey{
  color: #fff;
}

h3{
  font-size: 0.9rem;
  font-weight: 300;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 1.4em;
  display: block;
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h4{
  color:#56575b;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.1em;
  display: block;
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h5{
  color:#56575b;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.1em;
  display: block;
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h6{
  color:#d30505;
  font-size: 0.75rem;
  font-family: 'Coda', cursive, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.1em;
  display: block;
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

@media (min-width: 250px){
  h6{
   font-size: 1rem;
 }
}


@media (min-width: 400px){
  h6{
   font-size: 1.1rem;
 }
}

@media (min-width: 1000px){
  h6{
   font-size: 1.3rem;
 }
}

small{
  color: grey;
  padding-left: 16px;
}

.verticalLine{
  border-bottom: 2px solid #d30505;
}

@media screen and (min-width: 900px) {
.verticalLine{
  margin-right: 160px;
}
}

#contact{
  float: left;
  margin-left: 18px;

}

.blue{
  color:#d30505;
}

.white{
  color: #fff;
}

#mail-link{
   font-size: 0.7rem;
   color: #fff;
    letter-spacing: .1rem;
}

@media (min-width: 1200px){
  #mail-link{
   font-size: 0.9rem;
 }
}


#mail-link:link {
  color: #fff;
   }
#mail-link:hover {
  color: #d30505;
  text-decoration: underline;
}

@media (min-width: 400px){
#contractor{
 width: 40%;
 padding-bottom: 1rem;
}
}

@media (min-width: 900px){
  #contractor{
  width: 20%;
}
}

#info p{
  text-align: left;
}

@media (min-width: 900px){
  #info p{
  font-size: 1.3rem;
  width:80%;
}
#info{
  padding-bottom: 1rem;
  padding-top:  1rem;
}
}

.list-unstyled {
padding-left: 0;
list-style: none;
}
