.scrollup{
width:50px;
height:45px;
position: fixed;
opacity: 0.7;
bottom: 0;
right: 5px;
display:none;
text-indent:-9999px;
background: url('{{site.baseurl}}/img/icon_top.png') no-repeat;
z-index: 3000;
}



a, a:link, a:active, a:visited, a:hover
{
	color: #c10202;
}
pre
{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#page nav
{
	display: none;
}

#header,
.header,
#footer
{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	height: 0px;

}


#header a,
.header a
{
	background: center center no-repeat transparent;
	background-image: url("../img/nav.png");

	display: block;
	width: 40px;
	height: 35px;
	position: absolute;
	top: 1px;
	left: 10px;
}

#header a.right,
.header a.right
{
	left: auto;
	right: 10px;
}
#content,
.content
{
margin: 0 auto 0 auto;
}


/* BIG SCREENS*/

 @media (min-width: 1200px) {
	#header{
		display: none;
	}
 }

#header-big{
	display: none;
}

 @media (min-width: 1200px) {
	#header-big{
		display: block;
	}
 }

/* Adjusting the margins, paddings and no list styles */

#header-big{
   margin: 0 auto -35px auto;
}

.navigation {
margin:0;
padding:0 5px 10px 1px;
text-align: center;
list-style:none;
float: left;

}

/* Little tricking with positions */
.navigation li {
display: inline-block; /* Show list items inline */
position:relative;
margin-right: 2em;
}


/* Playing with Main Categories */
.navigation li a {
 background-image: url(../img/az_subtle.png);
 background-repeat: repeat;
font-family: 'Coda', cursive, sans-serif;
font-weight: 800;
font-size: 1rem;
color:#1f090d;
display:block; /* Making sure a element covers whole li area */
padding:0px;
text-decoration:none; /* No underline */
text-align:left;
text-transform:uppercase;
padding-left: 12px;
}

@media only screen and (min-width: 1400px){
.navigation li a {
font-size: 1.2rem;
}
	}

@media only screen and (min-width: 1800px){
.navigation li a {
font-size: 1.4rem;
}
	}
.navigation li a:hover {
color:#cb1c2b;
}

/* Sub Cat Menu stuff*/
.navigation ul {
position:absolute;
left:0;
display:none; /* Hide it by default */
margin:0 0 0 -1px;
padding:0;
list-style:none;
border-bottom:3px solid #cb1c2b;
z-index: 2000;
}

.navigation ul li {
width:300px;
float:left;
border-top:none;
margin-right: 0;
}

@media only screen and (min-width: 1400px){
.navigation ul li {
width:300px;

}
	}

/* Sub Cat menu link properties */
.navigation ul a {
display:block; /* Making sure a element covers whole li area */
height:50px;
color:#56565b;
text-decoration:none;
border-top:none;
border-bottom:1px solid #d8d8d8;
}

#header-big .sub{
font-size: 0.9rem;
padding:18px 12px 10px 12px;
}

.navigation ul a:hover {
color:#cb1c2b;
}
